/* ==|== primary styles ===================================================================================================================================
   AUTHOR: Meridian Softech
   ========================================================================== */

/************************************************************
*************************************************************
    CUSTOM FONT EMBED
*************************************************************
*************************************************************/

@font-face {
    font-family: 'Open Sans';
    src: 
        url('../fonts/opensans-regular-webfont.eot?') format('eot'),
        url('../fonts/opensans-regular-webfont.woff') format('woff'),
        url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
        url('../fonts/opensans-regular-webfont.svg#svgFontName') format('svg');
}
   
/************************************************************
*************************************************************
    COMMON
*************************************************************
*************************************************************/

body{
    font-family: 'Open Sans', 'Arial', sans-serif;
}
.row{max-width: 950px;}

/************************************************************
*************************************************************
    HEADER
*************************************************************
*************************************************************/

header{padding-top: 30px;}
.nav-bar {background-color: #C3D9FF;}

/************************************************************
*************************************************************
    MAIN CONTENT
*************************************************************
*************************************************************/


/************************************************************
*************************************************************
    FOOTER
*************************************************************
*************************************************************/